        body{
            margin:0;             
        }
        #header{
            width: 100%;
            border:2px solid black;
            position: fixed;
            z-index:1;
        }
        .media_header{
            display: none;
        }

        .flexbox1{
            display: flex;
            justify-content: center;
        }
        #logo{
            left: 0;
            border: 1px solid darkblue;          
            position: absolute;
            margin: 20px;
            font-family : 'RocknRoll One', sans-serif;
            font-size: 40px;
            font-style: italic;
            color: #FFF56E;
        }
        #goWrite{
            position: absolute;
            right:0;
            border: 1px solid green;           
            margin: 20px;
        }
        #toplist{                                 
            display:flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid blue;
            margin: 20px;
            width: 65%;   
        }
        #toplist img{
            width: 50px;
            visibility: hidden;
        }
        #toplist ul{
            display:flex; /*li를 inline으로 만들기 위함*/
            justify-content: center;
            border: 2px solid black;
            list-style-type: none;
            padding:0px;
            width: 100%;
        }
        #toplist ul li{
            position:relative;
            background-color: #fce4ec;
            padding: 14px;
            margin: 20px;
            width: 25%;
            height: 80px;
            border-radius: 3px;
            box-shadow: 10px 10px 15px -10px black;
        }
        #toplist ul li div:nth-child(1){
            /*여러줄 ...처리 (webkit이용)*/
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.2em;
            height:4.8em; /*line-height의 n배수*/
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            
        }
        #toplist .X{
            position: absolute;
            top:100%;
            right:10px;
        }
        #toplist ul li:hover .X{
            visibility: visible;
        }

        #toplist ul li:hover{
            filter: brightness(120%);
        }
        
        #search{
            border: 1px solid red;
            display: flex;
            justify-content: center;
        }
        #search img{
            width: 40px;
        }       
        #searchBar{
            border: 2px solid #000069;
            width: 300px;
            height: 40px;
            outline:none;
            border-radius:5px;
            position: relative;
            left : 5px;
        }
        ::placeholder{
            color:#FFF56E;
            font-size:17px;
            font-style:italic
        }
        #section{
            position: absolute;
            width: 55%;
            top: 300px;
            left: 50%;         
            transform: translate(-50%);
            border : 2px solid brown;
            text-align: center;
        }
        #section ul{
            border: 2px solid purple;
            list-style-type: none;
            padding: 0;

        }
        #section> ul> li{
            padding: 10px;
            position: relative;
            margin: 10px;
            background-color: #FFFF8C;
            height: 100px;
            border-radius: 3px;
            box-shadow: 10px 10px 15px -10px black;
        }

        #section> ul> li> div:nth-child(1){
            position: relative;
            height: 25px;
            border-bottom: 1px solid #3C5087;
        }
        
        #section> ul> li> div:nth-child(1)> img{
            position: absolute;
            left: 10px;
            width: 20px;
        }
        #section> ul> li> div:nth-child(1)> div{
            position: absolute;
            right: 10px;
            font-style: italic;         
        }
        #section> ul> li> div:nth-child(2){
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.2em;
            height:4.8em; /*line-height의 n배수*/
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        #section ul ul{
            opacity: 0;
            transition: all 0.3s;
            visibility: hidden;
            position: absolute;
            left: 100%;
            top: 10%;
        }

        #section ul li:hover > ul{
            opacity: 1;
            visibility: visible;
        }

        .dropdown img{
            width: 40px;
        }

        @media (max-width: 960px){
        #logo{
            display: none;
        }

        #goWrite{         
            display: none;
        }

        #toplist {
            width : 100%;
            margin : 0;
        }

        #toplist ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 84%;

        }
        #toplist .nextbtn, #toplist .prevbtn{ /*.nextbtn, .prevbtn하면 안먹음*/
            width: 8%;
        }


        #toplist ul > li{
            width: 93%;
            height: 30px;
            margin:2px;
        }
        #toplist ul li div:nth-child(1){
            line-height: 1.2em;
            height: 2.4em;
            -webkit-line-clamp: 2;
        }

        #toplist .X{
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
        }
        .media_header{
            display: flex;
            justify-content: space-between;
            background-color: beige;
        }
        .media_header > #media_logo{
            flex-basis: 30%;
            padding: 3px;
            font-family : 'RocknRoll One', sans-serif;
            font-size: 20px;
            font-style: italic;
            color: #FFF56E;

        }
        .media_header > #media_goWrite{
            
            text-align: right;
            border:1px solid black;
            flex-basis: 80%;
        }
        .media_header > #media_goWrite > img{
            width: 30px;
        }
        #search img{
            width: 30px;
        }
        #search input{
            width: 50%;
            height: 30px;
        }
        ::placeholder{
            font-size: 14px;
        }

        #section{
            top: 250px;
            width: 84%;
        }
        #section> ul> li{
            height: 55px;
            margin-top:0px;
            margin-bottom:4px;
            margin-left: 0;
            margin-right: 0;
        }

        #section> ul> li> div:nth-child(1){
            position: relative;
            height: 20px;
            border-bottom: 1px solid #3C5087;
        }
        
        #section> ul> li> div:nth-child(1)> img{
            position: absolute;
            left: 10px;
            width: 15px;
        }
        #section> ul> li> div:nth-child(1)> div{
            position: absolute;
            right: 10px;
            bottom: 3px;
            font-style: italic;         
        }

        #section> ul> li> div:nth-child(2){
            height:2.4em; /*line-height의 n배수*/
            -webkit-line-clamp: 2;
        }
        .dropdown img{
            width: 30px;
        }

        }
