:root {
    --text-color: #eeeeee;
    --background-color: #00142b;
}
* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color:var(--background-color);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.logo {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo .logo_left{
    display: flex;
    align-items: center;
}

.logo > img{
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    padding: 8px 20px;
}

.menu li:hover {
    background-color: #ff8a65;
    border-radius: 4px;;
}

.sns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sns img{
    margin: 5px;
}
img {
    width: 30px;
}

@media (max-width:768px) {
    header{
        flex-direction: column;
        padding: 10px;
    }
    #toggle-btn {
        display: block;
    }
    .menu {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .menu li{
        width: 90%;
        text-align: center;
    }
    .hidden {
        display: none;
    }
}   